---
layout: default
title: GitHub Cheat Sheets For Learning
---
{% include light-hero.html %}
<!--First division -->
<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-4 mb-4">
    <a class="d-block text-blue height-full card hover-card p-4" href="github-bash-cheat-sheet/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>For</h4>
      <h4>Bash Installation</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4">
    <a class="d-block text-blue height-full card hover-card p-4" href="github-git-cheat-sheet/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>Of</h4>
      <h4>Git Installation</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4">
    <a class="d-block text-blue height-full card hover-card p-4" href="github-git-cheat-sheet.pdf">
      {% include octicons/terminal.svg %}
     <h4 class="text-blue">Download Github Cheat Sheet</h4>
    </a>
  </div>
</div>
<!--Second division-->
<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="ar/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Arabic</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="bn_BD/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Bengali</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="de/">
      {% include octicons/terminal.svg %}
     <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>German</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="es_ES/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Spanish</h4>
    </a>
  </div>
</div>
<!--second division -->
<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="fa/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Persian</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="fr/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>French</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="id/">
      {% include octicons/terminal.svg %}
     <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Indonesian</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="it/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Italian</h4>
    </a>
  </div>
</div>
<!--Third division -->
<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="ja/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Japanese</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="kr/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Korean</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="pt_BR/">
      {% include octicons/terminal.svg %}
     <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Portuguese</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="pt_PT/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Portuguese</h4>
    </a>
  </div>
</div>
<!--Fourth division -->
<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="sk/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Slovak</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="zh_CN/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet</h4>
      <h4>In</h4>
      <h4>Chinese</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="submodule-vs-subtree-cheat-sheet.md">
      {% include octicons/terminal.svg %}
     <h4 class="text-blue">Cheat Sheet of Git Submodule</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="subversion-migration.md">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheet of GitHub Importer</h4>
    </a>
  </div>
</div>
