---
layout: default
title: Git Cheat Sheets
description: Reference sheets covering Git commands, features, SVN migrations, and bash. Available in multiple languages.
permalink: /
redirect_from:
  - /kit/downloads/git-github-cheat-sheet.pdf/
  - /kit/downloads/subversion-migration.pdf/
breadcrumbColor: "bg-gray-light"
redirect_to: false
---
<div class="border-bottom border-top py-6 bg-gray-light text-center">
  <div class="container-lg py-6 p-responsive">
    <h1>{{ page.title }}</h1>
    {% if page.description %}<p class="col-12 col-md-6 mx-auto">{{ page.description }}</p>{% endif %}
    {% include translation_buttons.html %}
  </div>
</div>

<div class="container-md mx-auto d-flex flex-wrap p-responsive gutter mt-6">
  <div class="col-12 col-md-6 mb-4 mb-md-0">
    <div style="width: 128px;">{% include icon-sm-git.svg %}</div>
    <h3 class="mt-2">Using Git</h3>
    <ul class="list-style-none">
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/az/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Azərbaycanca</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/id/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Bahasa Indonesia</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/de/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Deutsch</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> English</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> English (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/es_ES/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Español</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/es_ES/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Español (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/fr/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Français</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/fr/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Français (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/gr/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Ελληνικά (Greek)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/it/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Italiano</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/pl/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Polski</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/pt_BR/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Português (Brasil)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/pt_BR/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Português (Brasil) (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/pt_PT/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Português (Portugal)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/pt_PT/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Português (Portugal) (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ru/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Russian</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/sk/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Slovenský</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/tr/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Türkçe</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ua/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Ukrainian</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ar/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> عربى</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/bn_BD/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> বাংলা</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ko/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> 한국어</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/zh_CN/github-git-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> 中文</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ja/github-git-cheat-sheet"><span class="d-flex mr-2">{% octicon cloud-download %}</span> 日本語</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/ja/github-git-cheat-sheet.pdf"><span class="d-flex mr-2">{% octicon cloud-download %}</span> 日本語 (PDF)</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/hi/github-git-cheat-sheet"><span class="d-flex mr-2">{% octicon cloud-download %}</span> हिंदी</a></li>
    </ul>
  </div>

  <div class="col-12 col-md-6">
      <div style="width: 128px;">{% include icon-sm-migration.svg %}</div>
    <h3 class="mt-2">SVN migration</h3>
    <ul class="list-style-none">
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/subversion-migration/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> English</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/es_ES/subversion-migration/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Español</a></li>
    </ul>
    <h3 class="mt-2">Submodules vs. Subtrees</h3>
    <ul class="list-style-none">
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/submodule-vs-subtree-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> English</a></li>
      <li><a class="d-flex flex-items-center" href="{{ site.baseurl }}/downloads/es_ES/submodule-vs-subtree-cheat-sheet/"><span class="d-flex mr-2">{% octicon cloud-download %}</span> Español</a></li>
    </ul>
    <h3 class="mt-2">Manuals</h3>
    <ul class="list-style-none">
      <li><a class="d-flex flex-items-center" href="https://githubtraining.github.io/training-manual/#/">GitHub for Developers Manual</a><a class="d-flex flex-items-center" href="https://github.com/githubtraining/training-manual"><span class="d-flex mr-2">({% octicon book %}</span> Source)</a></li>
      <li><a class="d-flex flex-items-center" href="https://githubtraining.github.io/admin-training/#/">GitHub Administrator Manual</a></li>
      <li><a class="d-flex flex-items-center" href="https://githubtraining.github.io/saml-implementation-prep/#/">SAML Implementation Preparation</a><a class="d-flex flex-items-center" href="https://github.com/githubtraining/saml-implementation-prep"><span class="d-flex mr-2">({% octicon book %}</span> Source)</a></li>
      <li><a class="d-flex flex-items-center" href="https://githubtraining.github.io/innersource-theory/#/">InnerSource Theory</a></li>
    </ul>
  </div>
</div>
