---
layout: default
subpage: books
title: Git Books
description: Some of our favorite books on Git.
breadcrumbColor: "bg-gray-light"
---
{% include light-hero.html %}
{% include breadcrumbs.html %}

<div class="container-md mx-auto p-responsive mt-6">
  {% for book in site.categories.books %}
    <div class="d-flex flex-wrap mb-4">
      <a href="{{ book.the_url }}" class="d-block col-12 col-md-3 mb-2 mb-md-0">
        <img src="assets/{{ book.image_filename }}" alt="{{ book.title }}" class="width-full rounded-1 border">
      </a>

      <div class="col-12 col-md-9 pl-0 pl-md-4">
        <h2><a href="{{ book.the_url }}">{{ book.title }}</a></h2>
        <p>{{ book.content | markdownify }}</p>
      </div>
    </div>
  {% endfor %}
</div>
