---
ref: learning-path
lang: es
layout: default
subpage: learning-path
title: Itinerario de aprendizaje
description: Aprender Git y GitHub puede parecer abrumador, pero con esta práctica lista de recursos educativos, te convertirás en un experto en Git en nada de tiempo.
breadcrumbColor: "bg-gray-light"
breadcrumbSize: "lg"
permalink: /resources/learning-path/es/
---
{% capture thead %}
<thead>
  <tr>
    <th class="text-bold" scope="col">Formato</th>
    <th class="text-bold" scope="col">Título</th>
    <th class="text-bold" scope="col">Tiempo</th>
  </tr>
</thead>
{% endcapture %}

{% include light-hero.html %}
{% include breadcrumbs.html %}

<div class="container-lg p-responsive mt-6">
  <h2>Empezando por el principio</h2>
  <table class="data-table" role="presentation" summary="Recursos: Empezando por el principio">
    {{ thead }}
    <tbody>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/intro-to-github/">A demanda: Introducción a GitHub</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/github-desktop/">A demanda: GitHub Pages desde GitHub Desktop</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/windows/">A demanda: GitHub para Windows</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://www.youtube.com/watch?v=7Inc0G0wutk">Configurar Git</a></td>
        <td>2 minutos</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total estimado</strong></td>
        <td>1 hora 32 minutos</td>
    </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Preparado para los próximos pasos</h2>
  <table class="data-table" role="presentation" summary="Recursos: Preparado para los próximos pasos">
    {{ thead }}
    <tbody>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/github-cli/">A demanda: GitHub Pages desde la línea de comandos</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/WxMFZncm12s">Creando nuevos repositorios</a></td>
        <td>2 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/H5GJfcp3p4Q">Entendiendo las branches (ramas)</a></td>
        <td>2 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/HwrPhOp6-aM">Cambiando la vista del repositorio</a></td>
        <td>3 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/yyLiplDQtf0">Combinar (merge) conflictos</a></td>
        <td>5 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/RXSriVcoI70">Usando diffs</a></td>
        <td>3 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/Ew8HQsFyVHo">Usando el registro (log) de Git</a></td>
        <td>5 minutos</td>
      </tr>
      <tr>
        <td>Ejercicio</td>
        <td><a href="http://learngitbranching.js.org/">Una herramienta de visualización para aprender Git</a></td>
        <td><abbr title="not available">n/a</abbr></td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total estimado</strong></td>
        <td>55 minutos</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Configurando tu equipo para el éxito</h2>
  <table class="data-table" role="presentation" summary="Recursos: Configurando tu equipo para el éxito">
    {{ thead }}
    <tbody>
      <tr>
        <td>Artículo</td>
        <td><a href="https://guides.github.com/introduction/flow/">Flujo de trabajo en GitHub</a></td>
        <td>4 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/4VBG9FlyiOw">Configurando un archivo .gitignore</a></td>
        <td>3 minutos</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total estimado</strong></td>
        <td>7 minutos</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Ya confiado, preparado para lo (más) complicado</h2>
  <table class="data-table" role="presentation" summary="Recursos: Ya confiado, preparado para lo (más) complicado">
    {{ thead }}
    <tbody>
      <tr>
        <td>Artículo</td>
        <td><a href="https://github.com/blog/2019-how-to-undo-almost-anything-with-git">Cómo deshacer casi todo con Git</a></td>
        <td>8 minutos</td>
      </tr>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/git-trouble/">A demanda: Git sin problemas</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/BKPjPMVB81g">Más sobre reset</a></td>
        <td>4 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/Vxc9m_OVyo0">Usando reflog</a></td>
        <td>3 minutos</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/SxzjZtJwOgo">Usando rebase</a></td>
        <td>4 minutos</td>
      </tr>
      <tr>
        <td>Ejercicio</td>
        <td><a href="{{ site.baseurl }}/graphql/">A demanda: Introducción a GraphQL</a></td>
        <td>30 minutos</td>
      </tr>
      <tr>
        <td>Artículo</td>
        <td><a href="https://github.com/blog/2104-working-with-submodules">Trabajando con submodules</a></td>
        <td>4 minutos</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Total estimado</strong></td>
        <td>1 hora 13 minutos</td>
      </tr>
    </tbody>
  </table>

</div>
