---
ref: learning-path
lang: en
layout: default
subpage: learning-path
title: Learning Path
description: Learning Git and GitHub can seem daunting but with this helpful list of training resources, you will be a Git-guru in no time.
redirect_from: /on-demand/path/
breadcrumbColor: "bg-gray-light"
breadcrumbSize: "lg"
permalink: /resources/learning-path/
---
{% capture thead %}
<thead>
  <tr>
    <th class="text-bold" scope="col">Format</th>
    <th class="text-bold" scope="col">Title</th>
    <th class="text-bold" scope="col">Time</th>
  </tr>
</thead>
{% endcapture %}

{% include light-hero.html %}
{% include breadcrumbs.html %}

<div class="container-lg p-responsive mt-6">
  <h2>Just Getting Started</h2>
  <table class="data-table" role="presentation" summary="Resources: Just getting started">
    {{ thead }}
    <tbody>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/intro-to-github/">On Demand: Introduction to GitHub</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/github-desktop/">On Demand: GitHub Pages from Desktop</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/windows/">On Demand: GitHub for Windows</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://www.youtube.com/watch?v=7Inc0G0wutk">Setup Git</a></td>
        <td>2 minutes</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Estimated Total</strong></td>
        <td>1 hour 32 minutes</td>
    </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Ready for Next Steps</h2>
  <table class="data-table" role="presentation" summary="Resources: Ready for Next Steps">
    {{ thead }}
    <tbody>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/github-cli/">On Demand: GitHub Pages from the Command Line</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/WxMFZncm12s">Creating New Repositories</a></td>
        <td>2 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/H5GJfcp3p4Q">Understanding Branches</a></td>
        <td>2 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/HwrPhOp6-aM">Changing Your View of the Repository</a></td>
        <td>3 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/yyLiplDQtf0">Merge Conflicts</a></td>
        <td>5 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/RXSriVcoI70">Using Diffs</a></td>
        <td>3 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/Ew8HQsFyVHo">Using Git Log</a></td>
        <td>5 minutes</td>
      </tr>
      <tr>
        <td>Exercise</td>
        <td><a href="http://learngitbranching.js.org/">A Visualization Tool for Learning Git</a></td>
        <td><abbr title="not available">n/a</abbr></td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Estimated Total</strong></td>
        <td>55 minutes</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Setting Your Team Up for Success</h2>
  <table class="data-table" role="presentation" summary="Resources: Setting Your Team Up for Success">
    {{ thead }}
    <tbody>
      <tr>
        <td>Article</td>
        <td><a href="https://guides.github.com/introduction/flow/">GitHub Flow</a></td>
        <td>4 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/4VBG9FlyiOw">Setting up a .gitignore</a></td>
        <td>3 minutes</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Estimated Total</strong></td>
        <td>7 minutes</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Already Comfortable, Ready for the Hard(er) Stuff</h2>
  <table class="data-table" role="presentation" summary="Resources: Already Comfortable, Ready for the Hard(er) Stuff">
    {{ thead }}
    <tbody>
      <tr>
        <td>Article</td>
        <td><a href="https://github.com/blog/2019-how-to-undo-almost-anything-with-git">How to Undo Almost Anything with Git</a></td>
        <td>8 minutes</td>
      </tr>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/git-trouble/">On Demand: Git Out of Trouble</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/BKPjPMVB81g">More on Reset</a></td>
        <td>4 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/Vxc9m_OVyo0">Using Reflog</a></td>
        <td>3 minutes</td>
      </tr>
      <tr>
        <td>Video</td>
        <td><a href="https://youtu.be/SxzjZtJwOgo">Using Rebase</a></td>
        <td>4 minutes</td>
      </tr>
      <tr>
        <td>Exercise</td>
        <td><a href="{{ site.baseurl }}/graphql/">On Demand: Introduction to GraphQL</a></td>
        <td>30 minutes</td>
      </tr>
      <tr>
        <td>Article</td>
        <td><a href="https://github.com/blog/2104-working-with-submodules">Working with Submodules</a></td>
        <td>4 minutes</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>Estimated Total</strong></td>
        <td>1 hour 13 minutes</td>
      </tr>
    </tbody>
  </table>

</div>
