---
layout: default
subpage: videos
title: Git Videos
description: Recorded content that demonstrates best practices in using Git and GitHub.
breadcrumbColor: "bg-gray-light"
breadcrumbSize: "lg"
---
{% include light-hero.html %}
{% include breadcrumbs.html %}

<div class="container-lg mx-auto p-responsive mt-6">
  <div class="d-flex flex-wrap gutter-condensed">
    {% for video in site.categories.videos %}
      <div class="mb-3 col-12 col-md-6">
        <a href="{{ video.the_url }}" class="d-block height-full p-2 card hover-card">
          <img src="assets/{{ video.image_filename }}" alt="{{ video.title }}" class="width-full" />
    
          <div class="mt-4">
            <h2>{{ video.title }}</h2>
            <p class="text-gray-dark text-normal">{{ video.content }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
