/* Branding & Logos */

.brand {
  background: url(../branding/github-black.png) no-repeat center;
  background-size: contain;
  height: 6em;
  width: 98%;
  margin: auto auto 1em auto;
}

.git {
  background: url(../branding/git-logo-black.png) no-repeat center;
  background-size: contain;
  height: 6em;
  width: 98%;
  margin: auto auto 1em auto;
}

/* Special */
.hidden{
  visibility: hidden;
  display: block !important;
  height: 0;
  width: 0;
}

.clear-all{
  display: block;
  clear: both;
}

.cover h1{
  font-size: 4em !important;
}

/* Cover Slide */
.cover-title{
  display: block !important;
  font-size: 4em !important;
}

/* Sticky Notes */
.sticky {
  font-size: 1.25em !important;
  background: #fffab4;
  box-shadow: 1px 1px 0.09em #232322, 0px -1px 0.15em #e1e1e1, inset 0 0 3em #e5cd62;
  border-radius: 5em 10em .25em 1.5em / 0.25em 0.25em 1em .25em;
  width: 60%;
  margin: 0 auto !important;
  padding: 1em 1em 1em 1em;
  background: #fefcea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffab4), color-stop(100%, #fff799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fffab4 0%, #fff799 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fffab4 0%, #fff799 100%);
  /* W3C */
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
  text-align: center;
}

  .sticky i[class^="icon-"] {
    color: #000;
    font-size: 5em;
    display: block;
    line-height: 1.2em;
  }




/*Stage Building Diagrams*/
.diagram-group{
  position: relative;
  overflow: hidden;
}
  .reveal section .fragment.diagram{
    position: absolute;
    background: #fff;
    width: 95% !important;
    max-height: 100% !important;
    max-width: 95% !important;
    left: 2.5%;
  }
  .reveal section .fragment.diagram:nth-child(n+2){


    transition: all 700ms;
    opacity: 0;
  }
  .reveal section .fragment.diagram.visible:nth-child(n+2){
    display: block;
    opacity: 1;
    position: absolute;
  }

/* Octicon Title Slide */
.title-icon{
  font-size: 300% !important;
  opacity: .3;
}
