h1{
  font-size: 300%;
  text-align: center;
}
h2{
  font-size: 200%;
  text-align: center;
  line-height: 150%;
}
h2+p{
  font-size: 125%;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  text-align: center;
  line-height: 150%;
  opacity: .65;
  margin: auto auto;
}
p{
  text-rendering: optimizeLegibility;
  line-height: 150%;
  opacity: .7;
}
header{
  background: #222;
  color: #fff;
  padding: 15px;
  text-align: center;

  a{
    color: #fff;

    &:hover{
      color: #fff;

      & .logo{
        margin-top: -32px;
      }
    }
  }
}
section{
  width: 100%;
  float: left;
}
.container{
  width: 830px;
  margin: 40px auto auto;
  position: relative;

  header &{
    margin: 0 auto;
  }
}

.center{
  text-align: center;
}

.logo-group{
  height: 32px;
  overflow: hidden;

  .description{
    line-height: 32px;
  }
}

.logo{
  -webkit-transition: margin 300ms;
  transition: margin 300ms;
}

.logo-training-materials{
  display: inline-block;
  height: 26px;
  width: 237px;

  &:before{
    content: "";
    background: url(../images/training-materials-2x.png) no-repeat top left;
    background-size: contain;
    height: 32px;
    width: 237px;
    display: block;
  }
}
