/* Colorization */
.colorful{
  background: $color-dark;
  color: $mono-bright;
  p{
    // color: darken($mono-light, 10%);
  }

  a{
    color: $mono-bright;
  }
}

.invert{
  background: $mono-dark;
  border-bottom: solid 1px $mono-light;
  color: $mono-bright;
  h2{
    color: darken($mono-light, 20%);
  }
  h3,p{
    color: darken($mono-bright, 0%);
  }

  a{
    color: darken($mono-light, 10%);

    &:hover{
      color: $mono-bright;
    }
  }
}

.grey{
  background: lighten($mono-light, 5%);
  border-top: solid 1px $mono-light;
  border-bottom: solid 1px $mono-light;
}

.button{
  display: inline;
  border-radius: 3px;
  box-shadow: 0 0 0 1px $color-bright;
  text-align: center;
  padding: 10px;
  text-decoration: none;

  &:hover{
    box-shadow: 0 0 0 1px $color-dark;
    color: $mono-bright;
    background: $color-dark;

    a{
      color: $mono-bright;
    }
  }

  a{
    color: $color-bright;
  }
}

.logo-training{
  display: inline-block;
  height: 26px;
  width: 108px;

  &:before{
    content: "";
    background: url(../images/training-materials-dark-2x.png) no-repeat top left;
    background-size: contain;
    height: 32px;
    width: 237px;
    display: block;
  }
}
