/*
Syntax error: Undefined variable: "$color-bright".
        on line 159 of _stylesheets/core.scss

154:   -webkit-transition: margin 600ms, opacity 300ms;
155:   transition: margin 600ms, opacity 300ms;
156: }
157: 
158: .license{
159:   color: $color-bright;
160:   font-size: 12px;
161: 
162:   a{
163:     color: $color-bright;
164:   }

Backtrace:
_stylesheets/core.scss:159
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/script/variable.rb:49:in `_perform'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/script/node.rb:40:in `perform'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/jmccullough/github/training-materials/vendor/gems/ruby/2.0.0/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$color-bright\".\A         on line 159 of _stylesheets/core.scss\A \A 154:   -webkit-transition: margin 600ms, opacity 300ms;\A 155:   transition: margin 600ms, opacity 300ms;\A 156: }\A 157: \A 158: .license{\A 159:   color: $color-bright;\A 160:   font-size: 12px;\A 161: \A 162:   a{\A 163:     color: $color-bright;\A 164:   }"; }
