h1{
  font-size: 46px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
h2{
  font-size: 200%;
  line-height: 150%;
  color: #222;
}
h2+p{
  font-size: 125%;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  line-height: 150%;
  opacity: .65;
  margin: auto auto 20px auto;
}
h3{
  font-size: 125%;
  margin: 20px 0 0 0;
  color: #222;
}
p{
  text-rendering: optimizeLegibility;
  line-height: 150%;
}
header{
  background: #fff;
  color: #ddd;
  padding: 15px;

  a{
    color: #d9d9d9;

    &:hover{
      color: #d9d9d9;
      & .logo{
        margin-top: -32px;
        opacity: 0;
      }
    }
  }
  nav{
    float: right;
    font-size: 14px;
    line-height: 26px;

    ul{
      li{
        display: inline-block;
        margin-left: 10px;
      }
    }

    .button{
      padding: 8px;
      border: solid 1px #eee;
      border-radius: 5px;
    }
  }

  .octicon{
    font-size: 26px;
  }
  .logo-training-materials{
    display: inline-block;
    height: 20px;
    width: 178px;

    &:before{
      content: "";
      background: url(../images/training-materials-dark-2x.png) no-repeat top left;
      background-size: contain;
      height: 24px;
      width: 178px;
      display: block;
      opacity: .15;
    }
  }
}
section{
  width: 100%;
  float: left;
}

code{
  font-family: "Courier New", Courier, monospace;
  color: #63b83e;
  border-radius: 3px;
}
pre{
  width: 100%;
  background: #222;
  line-height: 140%;
  margin: 30px 0;
  border-radius: 3px;

  code{
    display: block;
    padding: 10px;
  }
}
table{
  width: 100%;
  background: #eee;
  line-height: 140%;
  margin: 30px 0;
  padding: 20px;
  border-radius: 3px;
  border-spacing:0;

  th{
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    border-bottom: solid 1px #bfbfbf;
    opacity: .5;
    padding: 0 0 10px;
  }
  td{

  }
}

ul{
  margin: 0 0 0 1.5em
}

.container{
  width: 830px;
  margin: 40px auto auto;
  position: relative;

  header &{
    margin: 0 auto;
  }
}

.center{
  text-align: center;
}

.logo-group{
  height: 25px;
  overflow: hidden;

  .description{
    line-height: 32px;
  }
}

.logo{
  -webkit-transition: margin 600ms, opacity 300ms;
  transition: margin 600ms, opacity 300ms;
}

.license{
  color: $color-bright;
  font-size: 12px;

  a{
    color: $color-bright;
  }
  .container{
    margin: 0 auto;
    padding: 5px;
  }
}
