/* Imports */
/* Color Definitions */
@import url(octicons.css);
.nav-list > li > a {
  font-size: 8pt; }

.curriculum {
  position: relative;
  font-size: 16px;
  /* General external link */
  /* GitHub Links */
  /* GitHub Book Links, Guide Links */
  /* YouTube Links */ }
  .curriculum img {
    width: 100%;
    height: auto; }
  .curriculum pre:before {
    content: "\f0c8";
    font: normal normal 22px octicons;
    float: right;
    color: #c0c7ce; }
  .curriculum table th, .curriculum table td {
    text-align: left;
    padding: 0 1em; }
  .curriculum p {
    line-height: 1.75em;
    margin-bottom: 2em; }
  .curriculum iframe {
    display: block;
    margin: 0 auto; }
  .curriculum .lab .panel-heading:before {
    content: "\f089";
    font: normal normal 16px octicons;
    float: right; }
  .curriculum .slide {
    width: 100%;
    background: #ffffff;
    display: table; }
    .curriculum .slide h2, .curriculum .slide h3, .curriculum .slide h4, .curriculum .slide h5 {
      text-align: center;
      font-size: 400%; }
    .curriculum .slide h1, .curriculum .slide h2, .curriculum .slide h3, .curriculum .slide h4, .curriculum .slide h5, .curriculum .slide h6, .curriculum .slide p, .curriculum .slide ul, .curriculum .slide pre, .curriculum .slide svg {
      margin-left: 0;
      margin-right: 0; }
    .curriculum .slide pre code {
      font-size: 1.5em; }
    .curriculum .slide .alignment {
      padding: 0 10%;
      display: table-cell;
      vertical-align: middle; }
  .curriculum a[href^="http://"],
  .curriculum a[href^="https://"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="http://"]:after,
    .curriculum a[href^="https://"]:after {
      content: "\f0b6";
      margin-left: 5px; }
  .curriculum a[href^="https://github.com"],
  .curriculum a[href^="https://www.github.com"],
  .curriculum a[href^="https://help.github.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="https://github.com"]:after,
    .curriculum a[href^="https://www.github.com"]:after,
    .curriculum a[href^="https://help.github.com"]:after {
      content: "\f008";
      margin-left: 5px; }
  .curriculum a[href^="http://git-scm.com/book"],
  .curriculum a[href^="https://guides.github.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="http://git-scm.com/book"]:after,
    .curriculum a[href^="https://guides.github.com"]:after {
      content: "\f007";
      margin-left: 5px; }
  .curriculum a[href^="https://youtube.com"],
  .curriculum a[href^="https://www.youtube.com"] {
    font: normal normal 1em octicons;
    text-decoration: none;
    color: #1875c6; }
    .curriculum a[href^="https://youtube.com"]:after,
    .curriculum a[href^="https://www.youtube.com"]:after {
      content: "\f0b9";
      margin-left: 5px; }
  .curriculum .summary h2:before, .curriculum .outline h2:before, .curriculum .details h2:before {
    padding: 5px;
    color: #CCCCCC;
    content: "\f078";
    font: normal normal 20px octicons; }

#toc-wrapper {
  opacity: .2;
  transition: all 200ms; }
  #toc-wrapper:hover {
    opacity: 1; }

#toc {
  font-size: .8em; }
  #toc .active {
    font-weight: 700; }
    #toc .active a {
      color: #222222; }

.affix-top {
  position: absolute; }

.affix {
  margin-top: -145px; }
