// .site-footer-links{
//
//   .align-left{
//     float:left;
//   }
//   .align-right{
//     float:right;
//   }
// }

footer {
  float: left;
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  clear: both;
  width: 100%;
  height: 40px;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eee;

  ul{
    li{
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  }

  .left{
    float: left;
    margin: 0;
  }
  .right {
    float: right;
    margin: 0;
  }

  .octicon-mark-github {
    position: absolute;
    // top: 38px;
    left: 50%;
    color: #ccc;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 1;
  }

  a{
    color: $color-dark;
    text-decoration: none;
  }
}

ul.site-footer-links{
  padding: 0 10px;
  li {
    display: inline-block;
    margin-left: 5px;
  }
  li:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 568px) {
    ul.site-footer-links{
      display: none;
    }
}
