/* Imports */
/* Color Definitions */
.screen-shot {
  background: url(../images/screen-shot-slide.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 350px; }

.workbook {
  background: url(../images/screen-shot-workbook.png) no-repeat bottom center #f5f5f6;
  background-size: 700px;
  padding-bottom: 400px; }

.downloads {
  background: url(../images/screen-shot-pdf.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 400px; }
