/* Imports */
@import "variables.scss";

section{
  width: 100%;
  float: left;

  & .container{
    padding: 50px 0 50px 0;
  }

  /* Layout */
  .hero{
    height: 445px;
    padding: 20px 0 0 0;


    hgroup{
      margin-top: 60px;
    }

    p{
      font-size: 112.5%;
      color: darken($color-dark, 20%);
      margin-bottom: 30px;
    }

    .octicon{
      font-size: 200px;
      margin-top: 52px;
    }
  }
}

.figures{
  background: url(../images/hero-home.png) no-repeat bottom center $color-dark;
  background-size: 1350px;
}

.screen-shot{
  background: url(../images/screen-shot-slide.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 350px;
}

.workbook{
  background: url(../images/screen-shot-workbook.png) no-repeat bottom center lighten($mono-light, 5%);
  background-size: 700px;
  padding-bottom: 400px;
}

.downloads{
  background: url(../images/screen-shot-pdf.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 400px;
}
