/* Imports */
@import "variables.scss";
@import "reset.scss";
@import "links.scss";
@import "core.scss";
@import "footer.scss";
@import "octicons.css";

.left{
  float:left;
  clear:left;
}
.right{
  float:right;
  clear:right;
}

nav{
  hgroup{
    float: left;
  }

  .logo-training-materials{
    display: inline-block;
    height: 26px;
    width: 237px;

    &:before{
      content: "";
      background: url(../images/training-materials-dark-2x.png) no-repeat top left;
      background-size: contain;
      height: 32px;
      width: 237px;
      display: block;
    }
  }

  ul{
    float: right;
    margin: 0;
    padding: 0;
    height: 26px;
    font-size: 14px;
    line-height: 26px;

    li{
      display: inline-block;
      margin-left: 16px;
    }
  }

  a{
    color: inherit;
    font-weight: 500;

    &:hover{
      color: $mono-bright;
      border-bottom: solid 2px $mono-bright;
    }
    &.button:hover{
      border: solid 1px $color-bright;
    }
  }
}

section{
  & .container{
    padding: 40px 0;

    &.hero{
      // padding: 0 0 200px;
      margin: 70px auto 70px auto;
      // background: url(../images/platforms.png) no-repeat center bottom;
      // background-size: $width-desktop/3 auto;

      p{
        font-size: 125%;
        color: lighten($color-dark, 40%);
        margin: 20px 0;
      }
    }
  }
}

.platforms{
  background: url(../images/platforms.png) no-repeat center top;
  background-size: 600px 300px;
  height: 300px;
  width: 100%;
  float: left;
}

.invert{
  background: $mono-dark;
  border-bottom: solid 1px $mono-light;
  color: $mono-bright;
  h2,h3,p{
    color: darken($mono-light, 10%);
  }

  a{
    color: $mono-bright;
  }
}

.diminish{
  font-size: 70%;
}

.colorful{
  background: $color-dark;
  color: $mono-bright;
  p{
    // color: darken($mono-light, 10%);
  }

  a{
    color: $mono-bright;
  }
}

.grey{
  background: lighten($mono-light, 5%);
  border-top: solid 1px $mono-light;
  border-bottom: solid 1px $mono-light;
}

.segment-content{
  width: $width-desktop*.66;
  display: inline-block;
}

.segment-icon{
  width: $width-desktop*0.31;
  padding: $width-desktop*0.01;
  display: inline-block;
  text-align: center;
  font-size: 80%;
  color: lighten($mono-dark, 20%);

  a{
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $color-bright;
    padding: 20px;
    -webkit-transition: box-shadow 150ms, color 150ms, background 150ms;

    &:hover{
      box-shadow: 0 0 0 2px $color-bright;
      color: $mono-bright;
      background: $color-bright;

    }

    color: $color-bright;
  }

  .octicon{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.25)));
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
  }
}


.screen-shot{
  background: url(../images/screen-shot-slide.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 350px;
}

.workbook{
  background: url(../images/screen-shot-workbook.png) no-repeat bottom center lighten($mono-light, 5%);
  background-size: 700px;
  padding-bottom: 400px;
}

.downloads{
  background: url(../images/screen-shot-pdf.png) no-repeat bottom center;
  background-size: 800px;
  padding-bottom: 400px;
}
