/* Imports */
@import "variables.scss";

.figures{
  background: url(../images/hero-home.png) no-repeat bottom center $color-dark;
  background-size: 1350px;
}

.screen-shot{
  background: url(../images/screen-shot-slidedeck.png) no-repeat bottom center;
  background-size: contain;
  padding-bottom: 300px;
}

.workbook{
  background: url(../images/screen-shot-workbook.png) no-repeat 0px 25px lighten($mono-light, 5%);
  background-size: contain;
  padding-bottom: 270px;
}

.downloads{
  background: url(../images/screen-shot-pdf.png) no-repeat bottom right;
  background-size: contain;
  padding-bottom: 300px;
}
