a {
  color: $color-bright;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color border 200ms;

  &:hover{
    color: $color-dark;
  }

  &.marker:after{
    content: "\203A";
    border: solid 1px $color-bright;
    border-radius: 50%;
    display: inline-block;
    height: .8em;
    width: .8em;
    margin: 0 0 0 10px;
    line-height: .7;
    font-size: 120%;
  }
}
