/* Imports */
@import "reset.scss";
@import "colors.scss";
@import "links.scss";
@import "core.scss";
@import "footer.scss";
@import "octicons.css";


.booklink, .githublink{ //a[href*="github.com"]
  font: normal normal 32px octicons;
  display: inline-block;
  height: 1em;
  width: 1em;
  overflow: hidden;
  font-size: 22px;
}

.booklink{
  &:before{
    content: "\f007";
    line-height: 1;

  }
}

.githublink{ //a[href*="github.com"],
  &:before{
    content: "\f008";
    line-height: 1;

  }
}

blockquote{
  font-size: 12px;
  line-height: 140%;
  margin: 30px 140px;
  text-align: justify;

  &:before{
    content: "\f063";
    font: normal normal 32px octicons;
    position: absolute;
    font-size: 76px;
    opacity: .1;
    left: 60px;
    margin-top: -18px;
  }
  &:after{
    content: "\f063";
    font: normal normal 32px octicons;
    position: absolute;
    font-size: 76px;
    opacity: .1;
    right: 60px;
    margin-top: -48px;

    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
  }
}
