/* Imports */
@import "reset.scss";
@import "colors.scss";
@import "links.scss";
@import "core.scss";
@import "footer.scss";
@import "octicons.css";

.hero{
  background: $color-dark;
  color: #fff;

  .container{
    margin: 40px auto;
  }
  .octicon{
    color: #fff;
    background: rgba(0,0,0,.15);
    border-radius: 50%;
    height: 1em;
    width: 1em;
    padding: 16px;
    margin-right: 20px;
    margin-left: -86px;
    font-size: 26px;
    text-align: center;
    float: left;
  }
}

.booklink, .githublink{ //a[href*="github.com"]
  font: normal normal 32px octicons;
  display: inline-block;
  height: 1em;
  width: 1em;
  overflow: hidden;
  font-size: 16px;
  margin-left: 8px;
}

.booklink{
  &:before{
    content: "\f007";
    line-height: 1;
  }
}

.githublink{ //a[href*="github.com"],
  &:before{
    content: "\f008";
    line-height: 1;
  }
}

blockquote{
  width: 70%;
  line-height: 140%;
  margin: 30px 140px;
  text-align: justify;

  &:before{
    content: "\f063";
    font: normal normal 32px octicons;
    position: absolute;
    font-size: 76px;
    opacity: .1;
    left: 60px;
    margin-top: -18px;
  }
  &:after{
    content: "\f063";
    font: normal normal 32px octicons;
    position: absolute;
    font-size: 76px;
    opacity: .1;
    right: 60px;
    margin-top: -48px;

    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
  }
}
