@import url(octicons.css);
/* Color Definitions */
.jumbotron.classes a {
  text-decoration: none; }
  .jumbotron.classes a .panel {
    background: none;
    border: solid 1px #00a5ea;
    height: 16em;
    margin: 1em;
    padding: 1em; }
  .jumbotron.classes a:hover .panel {
    background: white; }
  .jumbotron.classes a .octicon {
    font-size: 4em; }

header {
  padding-top: 1em;
  margin-bottom: 1em; }
  header .navbar-default {
    background: none !important;
    background-color: none !important;
    border: none !important;
    box-shadow: none !important; }
  header .navbar-toggle {
    background-color: #f3f3f3; }
    header .navbar-toggle .icon-bar {
      background-color: #1875c6; }
  header .nav {
    line-height: 50px;
    text-align: center; }
    header .nav li a {
      color: white !important;
      margin-left: 1em;
      margin-right: 1em;
      text-decoration: none;
      opacity: .8; }
      header .nav li a:last-child {
        margin-right: 0; }
      header .nav li a:hover {
        color: white;
        text-decoration: none;
        opacity: 1;
        background-color: none !important;
        background: none !important; }
      header .nav li a.active {
        opacity: 1; }

.jumbotron {
  background-color: #f3f3f3 !important; }
  .jumbotron.colorful {
    background-color: #1875c6 !important; }

.colorful {
  background-color: #1875c6 !important;
  color: white; }
  .colorful a {
    color: white; }

.testimonial blockquote {
  border-left: 0;
  font-size: .8em;
  box-shadow: 0 0 0 1px #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 3px; }
  .testimonial blockquote:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border-left: 20px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #f3f3f3;
    bottom: 20px;
    margin-left: 30%; }
.testimonial .attribution {
  text-align: center;
  font-size: .8em; }

#logo a {
  display: block;
  height: 50px;
  width: 185px;
  text-indent: -999px;
  overflow: hidden;
  background: url("../images/gh-training-logo-1x.png") no-repeat center center; }

footer {
  border-top: solid 1px #f3f3f3;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .8em; }
  footer .octicon-mark-github {
    position: absolute;
    left: 50%;
    color: #ccc;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 1; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-left: 5px; }
    footer ul li:first-child {
      margin-left: 0; }
