/* Color Definitions */
$color-dark: #1875c6;
$color-bright: #00a5ea;
$mono-dark: #222222;
$mono-light: #f3f3f3;
$mono-medium: #5a5a5a;
$mono-bright: #ffffff;

$color-mild: #56c7e3;
$color-medium: #53cda4;
$color-hot: #99d487;

$width-desktop: 960px;
