<!-- About Section -->
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "../assets/css/timeline.css" }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "./assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
        <div class ="container" id="about">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div>
                                <a href="/on-demand/electron/starting-with-electron"><img class="timeline-image" src="../images/atom.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="/on-demand/electron/starting-with-electron"><h2>Electron 101: Creating an App in Electron</h2></a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learn how to turn a web app into a cross-platform native app with Electron.</p>
                                    <p class="text-muted"></p>
                                </div>
                              </div>
                        </li>
                        <li class="timeline-inverted">
                            <div>
                                <a href="/on-demand/electron/packaging-apps/"><img class="timeline-image" src="../images/atom.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="/on-demand/electron/packaging-apps/"><h2>Electron 102: Packaging Your App for Downloads</h2></a>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">If you want to share your awesome app with the world, you will need to package it for easy download and installation. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div>
                                <a href="/on-demand/electron/sharing-apps/"><img class="timeline-image" src="../images/atom.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="/on-demand/electron/sharing-apps/"><h2>Electron 103: Sharing Your App</h2></a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recommendations for sharing your app with potential end users.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div>
                              <img class="timeline-image" src="../images/about/welcometocat.png" alt="">
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</html>
