<footer class="page-footer">
  <div class="container">
    <ul class="site-footer-links right">
      <li><a href="https://training.github.com">Training</a></li>
      <li><a href="http://shop.github.com">Shop</a></li>
      <li><a href="https://github.com/blog">Blog</a></li>
      <li><a href="https://github.com/about">About</a></li>
    </ul>

    <a href="/">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>

    <ul class="site-footer-links">
      <li>&copy; {{ site.time | date: '%Y' }} <span>GitHub</span>, Inc.</li>
      <li><a href="https://github.com/site/terms">Terms</a></li>
      <li><a href="https://github.com/site/privacy">Privacy</a></li>
      <li><a href="https://github.com/security">Security</a></li>
      <li><a href="https://github.com/contact">Contact</a></li>
    </ul>
  </div>
</footer>
