

<footer class="page-footer">
  <!--
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="githubtraining">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <a href="https://twitter.com/githubtraining" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @githubtraining</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  -->

  <div class="container">
    <ul class="site-footer-links right">
      <li><a href="https://training.github.com">Training</a></li>
      <li><a href="http://shop.github.com">Shop</a></li>
      <li><a href="https://github.com/blog">Blog</a></li>
      <li><a href="https://github.com/about">About</a></li>
    </ul>

    <a href="/">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>

    <ul class="site-footer-links">
      <li>&copy; {{ site.time | date: '%Y' }} <span>GitHub</span>, Inc.</li>
      <li><a href="https://github.com/site/terms">Terms</a></li>
      <li><a href="https://github.com/site/privacy">Privacy</a></li>
      <li><a href="https://github.com/security">Security</a></li>
      <li><a href="https://github.com/contact">Contact</a></li>
    </ul>
  </div>
</footer>
