{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
