<div class="bg-blue-dark py-4">
  <header class="container-lg f4 p-responsive site-header js-site-header d-block d-md-flex flex-justify-between text-white">
    <a class="no-underline text-inherit text-bold clearfix" href="{{ site.baseurl }}/">
      <div class="mr-2 float-left">{% include octicons/mark-github.svg %}</div>
      {{ site.title }}
    </a>

    <button class="btn-link float-right site-header-toggle js-site-header-toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
      {% include octicons/three-bars.svg %}
    </button>

    <nav class="site-header-menu">
      <ul class="d-block d-md-flex list-style-none">
        <li class="ml-3"><a class="text-inherit" href="{{ site.baseurl }}/resources">Resources</a></li>
        <li class="ml-3"><a class="text-inherit" href="{{ site.baseurl }}/resources/learning-path">Learning Path</a></li>
        <li class="ml-3"><a class="text-inherit" href="https://services.github.com/#upcoming-events">Upcoming Events</a></li>
        <li class="ml-3"><a class="text-inherit" href="https://services.github.com/customized-training">Customized Training</a></li>
      </ul>
    </nav>
  </header>
</div>