<header class="colorful">
	<div class="container">
		<h1 id="logo" class="content">
			<a href="{{ site.url }}/" data-escp="">GitHub Training</a>
		</h1>
		<nav id="nav">
			<ul class="content">
				<li{% if page.body_class == 'trainers' %} class="current"{% endif %}>
					<a href="https://training.github.com/trainers/">Trainers</a>
				</li>
				<li{% if page.body_class == 'web' %} class="current"{% endif %}>
					<a href="https://training.github.com/web/">Web-based</a>
				</li>
				<li{% if page.body_class == 'in-person' %} class="current"{% endif %}>
					<a href="https://training.github.com/in-person/">In-person</a>
				</li>
				<li{% if page.body_class == 'kit' %} class="current"{% endif %}>
					<a href="https://training.github.com/kit/">Kit</a>
				</li>
				<li{% if page.body_class == 'resources' %} class="current"{% endif %}>
					<a href="https://training.github.com/resources/">Resources</a>
				</li>
				<li{% if page.body_class == 'contact' %} class="current"{% endif %}>
					<a href="https://training.github.com/contact/">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
