<header class="colorful">
	<div class="container">
		<h1 id="logo">
			<a href="{{ site.url }}/" data-escp="">GitHub Training</a>
		</h1>
		<nav id="nav">
			<ul>
				<li>
					<a href="https://training.github.com/trainers/">Trainers</a>
				</li>
				<li>
					<a href="https://training.github.com/classes/">Classes</a>
				</li>
				<li>
					<a href="https://training.github.com/schedule/">Schedule</a>
				</li>
				<li class="current">
					<a href="https://training.github.com/kit/">Kit</a>
				</li>
				<li>
					<a href="https://training.github.com/resources/">Resources</a>
				</li>
				<li>
					<a href="https://training.github.com/contact/">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
