<div class="bg-blue text-white py-6">
  <div class="container-lg p-responsive my-6">
    <h1 class="page__title" itemprop="headline">
      {% if paginator %}
        {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page }} {{ paginator.page }}{% endunless %}
      {% else %}
        {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
      {% endif %}
    </h1>
    {% if page.excerpt %}
      <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}
    {% if site.read_time and page.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if page.header.cta_url %}
      <p><a href="{{ cta_path }}" class="btn btn--light-outline btn--large">{{ page.header.cta_label | default: site.data.ui-text[site.locale].more_label }}</a></p>
    {% endif %}
  </div>
  {% if page.header.caption %}
    <span class="page__hero-caption">{{ page.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
