{% include base_path %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="container" id="about">
  <di class="row">
  </di
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
          <div>
            <a href="{{base_path}}/intro-to-github/"><img class="timeline-image" src="{{ base_path }}/images/about/repo.png" alt=""></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <a href="{{base_path}}/intro-to-github/"><h2>GitHub 101: Introduction to GitHub</h2></a>
            </div>
            <div class="timeline-body">
              <p class="text-muted">If you are looking for a quick and fun introduction to GitHub, you’ve found it. This
                class will get you started using GitHub in less than an hour.</p>
              <p class="text-muted"></p>
            </div>
          </div>
          <!--<div class="timeline-panel-info">
            <br>
            <p>Class Duration: 60-90 minutes</p>
            <p>Skill Level: Beginner</p>
          </div>-->

        </li>
        <li class="timeline-inverted">
          <div>
            <a href="{{base_path}}/github-desktop/"><img class="timeline-image" src="{{ base_path }}/images/about/forktocat.jpg" alt=""></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <a href="{{base_path}}/github-desktop/"><h2>GitHub 102: Using GitHub Desktop</h2></a>
            </div>
            <div class="timeline-body">
              <span class="btn btn--inverse">BETA</span>
              <p class="text-muted">Learn how to use GitHub Desktop to copy a repository to your computer, track changes
                and communicate with GitHub.</p>
            </div>
          </div>
          <!--<div class="timeline-body-info">
            <br>
            <p>Class Duration: 60-90 minutes</p>
            <p>Skill Level: Intermediate</p>
            <p>Pre-reqs: GitHub 101</p>
          </div>-->
        </li>
        <li>
          <div>
            <img class="timeline-image" src="{{ base_path }}/images/about/collabocats.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <!--<a href="/github-cli/"><h2>GitHub 103: Using GitHub on the Command Line</h2></a>-->
              <h2>GitHub 103: Using GitHub on the Command Line</h2>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Coming soon!</p>
            </div>
          </div>
          <!--<div class="timeline-panel-info">
            <br>
            <p>Class Duration: 60-90 minutes</p>
            <p>Skill Level: Intermediate</p>
            <p>Pre-reqs: GitHub 101</p>
          </div>-->
        </li>
        <li class="timeline-inverted">
          <div>
            <img class="timeline-image" src="{{ base_path }}/images/about/inspectocat.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2>Advanced Git Commands</h2>
            </div>
            <div class="timeline-body">
              <p class="text-muted">Coming soon!</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div>
            <img class="timeline-image" src="{{ base_path }}/images/about/welcometocat.png" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
