---
layout: default
title: GitHub Learning Resources
---
{% include light-hero.html %}

<div class="d-flex flex-wrap text-center container-lg mx-auto p-responsive mt-4 gutter-condensed resources">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-blue height-full card hover-card p-4" href="learning-path/">
      {% include octicons/milestone.svg %}
      <h4 class="text-blue">Learning Path</h4>
      <p class="text-gray mb-0">A collection of our favorite courses, videos and tutorials in a sequential, easy-to-follow learning path.</p>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-purple height-full card hover-card p-4" href="cheatsheets/">
      {% include octicons/terminal.svg %}
      <h4 class="text-blue">Cheat Sheets</h4>
      <p class="text-gray mb-0">Helpful quick reference guides for anyone who uses Git and GitHub.</p>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-red height-full card hover-card p-4" href="videos/">
      {% include octicons/device-camera-video.svg %}
      <h4 class="text-blue">Videos</h4>
      <p class="text-gray mb-0">Our favorite videos on Git, GitHub and other tools for your toolkit.</p>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <a class="d-block text-green height-full card hover-card p-4" href="books/">
      {% include octicons/book.svg %}
      <h4 class="text-blue">Books</h4>
      <p class="text-gray mb-0">If you prefer the printed word, we think these books are some of the best on Git and GitHub.</p>
    </a>
  </div>
</div>
