---
layout: default
---

<div class="container" style="margin-top: 32px">
  <h1>GitHub Resources</h1>
</div>

<div class="container resources" style="margin-top: 32px">
  <a class="resources__tile card" href="learning-path">
    {% include octicons/milestone.svg %}
    <h4>Learning Path</h4>
    <p>Need help picking the best resources for learning Git and GitHub? We have collected some of our favorite coures, videos and tutorials in a sequential, easy-to-follow learning path.</p>
  </a>
  <a class="resources__tile card" href="cheatsheets">
    {% include octicons/terminal.svg %}
    <h4>Cheat Sheets</h4>
    <p>What was that command again? These handy quick reference guides are great for those learning Git and GitHub.</p>
  </a>
  <a class="resources__tile card" href="videos">
    {% include octicons/device-camera-video.svg %}
    <h4>Videos</h4>
    <p>YouTube is full of videos on Git and GitHub. Here are a few of our favorites.</p>
  </a>
  <a class="resources__tile card" href="books">
    {% include octicons/book.svg %}
    <h4>Books</h4>
    <p>If you prefer the printed word, we think these books are some of the best on Git and GitHub.</p>
  </a>
</div>
