---
---

@import "primer-core/index.scss";
@import "primer-product/index.scss";
@import "primer-marketing/index.scss";

.flash details img { max-width: 100%; }

.markdown-body {
    font-size: 16px;
    max-width: 700px;
  
    h1, h2, h3, h4, h5, h6 {
      -webkit-font-smoothing: antialiased;
      font-family: $alt-body-font;
    }
  
    h1 { @include alt-h1; }
  
    h2 {
      @include alt-h2;
      margin-top: $spacer-6;
      margin-bottom: $spacer-3;
      line-height: 1.25;
      border: 0;
    }
  
    h3 {
      @include alt-h3;
      margin-top: $spacer-4;
      margin-bottom: $spacer-3;
  
      @include breakpoint(md) {
        margin-top: $spacer-5;
      }
    }
  }