---

---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
      media="screen"
      href=
        {% if page.theme %}
          {% if page.theme == "home" %}
            "_stylesheets/home.css"
          {% else %}
            "../_stylesheets/{{ page.theme }}.css"
          {% endif %}
        {% else %}
          "_stylesheets/page.css"
        {% endif %}
      type="text/css" />

    {% include analytics.html %}
  </head>
  <body>
    {% if page.path != "index.html" %}
      <header>
        <div class="container">
          <nav>
            <ul>
              <li><a class="button" href="https://training.github.com">Join an Event</a></li>
            </ul>
          </nav>
          <a href="../">
            <div class="logo-group">
              <div class="logo">
                <span class="octicon octicon-logo-github"></span>
                <span class="logo-training-materials"></span>
              </div>
              <div class="description">Return to Home</div>
            </div>
          </a>
        </div>
      </header>
    {% endif %}

    {{ content }}
  </body>
</html>
