---

---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="/_stylesheets/page.css" type="text/css" />

    {% include analytics.html %}
  </head>
  <body>
    <div class="top">
      <header>
        <div class="logo"><a href ="/">GitHub Training</a></div>
        <a href="https://github.com/github/training-materials" class="mini-button"><span>R</span>Source on GitHub</a>
      </header>
    </div>

    <div id="content-wrapper">
      {{ content }}
    </div>
  </body>
</html>
