---
layout: site
---

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        {{ page.description }}
      </div>

    </div>

      <div class="row">
        <div class="col-md-12">

        <h3>Sections</h3>
          {% for section in page.sections %}
            <div class="screen">
              <h4>{{ section.title }}</h4>
              <p>{{ section.description }}</p>
              <h5>Modules</h5>
              <ul>
                {% for module in section.modules %}

                  {% for site_module in site.modules %}

                    {% assign classy_name = site_module.url | replace: "/modules/", "" | replace: ".html", "" %}

                    {% if classy_name == module %}
                      {% if module contains "POLL-" %}
                        {% comment %} Do not render.  This is a poll. {% endcomment %}
                      {% else %}
                        <li><a href="{{ site.baseurl }}/modules/{{ module }}.html">{{ site_module.title }}</a></li>
                      {% endif %}

                    {% else %}
                      {% comment %} Do not render.  The module titles do not match. {% endcomment %}
                    {% endif %}

                  {% endfor %}

                {% endfor %}
              </ul>
            </div>

          {% endfor %}
      </div>
    </div>
  </div>
