---
layout: site
leadingpath: ../
---

<div class="timer-wrapper fade-out">
  <div class="timer">
    <div class="timer-toggle">
      <span class="octicon octicon-clock"></span>
    </div>
    <div class="timer-content">
      <span class="time-left" id="time-left"></span>
    </div>
  </div>
</div>

<div class="container curriculum">
  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3">
      <div id="toc-wrapper">
        <div id="toc" data-spy="affix" data-offset-top="145">
          <ul id="toc-list" class="nav nav-pills nav-stacked" role="tablist"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
