---
layout: bare
---

<section class="hero overview">
  <div class="container">
    <div class="content">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
    </div>
  </div>
</section>

<section class="">
  <div class="container curriculum">
    <div id="toc">
      <ul id="toc-list" class="nav nav-list" role="tablist">
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </div>
</section>

{% include footer.html %}

<script src="{{ site.url }}/_javascript/snap-svg/dist/snap.svg-min.js"></script>
<script src="{{ site.url }}/_javascript/curriculum.js"></script>
