---
layout: default
---
<div id="main" role="main">
  {% include blue-hero.html %}
  {% if page.url != "/" and site.breadcrumbs %}
    {% unless paginator %}
      {% include breadcrumbs.html %}
    {% endunless %}
  {% endif %}

  <article class="container-md p-responsive mx-auto mt-6" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="markdown-body" itemprop="text">
      {{ content }}
    </div>

    {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label }}</a></div>{% endif %}
    {% if page.share %}{% include social-share.html %}{% endif %}

    {% include post_pagination.html %}
  </article>
</div>
