---

---

<!DOCTYPE html>
<html>
  <head lang"en-US" dir="ltr">
    <meta charset="utf-8" />
    <title>{{ page.title }} : {{ page.deck_title }}</title>
    <!--Style-->
    <link rel="stylesheet" href="dependencies/themes/{{ page.theme }}/css/theme.css">
    {% include analytics.html %}


    {% if page.deck_type == "revealjs" %}
        {% include hydeslides/revealjs/head %}
      </head>
      <body>
        {% include hydeslides/revealjs/slidedeck %}
        {% include hydeslides/revealjs/scripts %}
      </body>
    {% endif %}

    {% if page.deck_type == "revealjs-diagrams-only" %}
        {% include hydeslides/revealjs/head %}
      </head>
      <body>
        {% include hydeslides/revealjs/slidedeck-diagrams %}
        {% include hydeslides/revealjs/scripts %}
      </body>
    {% endif %}

    {% if page.deck_type == "impressjs" %}
        <meta name="viewport" content="width=1024" />
        <link rel="stylesheet" href="dependencies/themes/core/css/core-impressjs.css">
      </head>
      <body class="impress-not-supported">
        <div class="fallback-message">
          <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
          <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>

        {% include hydeslides/impressjs/slidedeck %}

        <div class="hint">
            <p>Use a spacebar or arrow keys to navigate</p>
        </div>
        <script>
        if ("ontouchstart" in document.documentElement) {
            document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
        }
        </script>

        <script src="dependencies/impressjs/js/impress.js"></script>
        <script>impress().init();</script>

        <script src="dependencies/plugins/launcher/launcher.js"></script>
      </body>
    {% endif %}


</html>
