---
layout: bare
theme: workbook
---

<section class="hero overview">
  <div class="container">
    <div class="content">
      <h2>{{ page.title }}</h2>
      <p>Narratives &amp; examples for teaching GitHub curriculum</p>
    </div>
  </div>
</section>

<section>
  <div class="container">

    <!-- <div class="tab-panel">

      <input type="radio" class="material-type" name="material-scope" id="outline" value="outline">
      <label class="tab column-3up" for="outline">
        <span>Outline</span>
      </label>

      <input type="radio" class="material-type" name="material-scope" id="summary" value="summary" checked="checked">
      <label class="tab column-3up" for="summary">
        <span>Summary</span>
      </label>

      <input type="radio" class="material-type" name="material-scope" id="details" value="details">
      <label class="tab column-3up" for="details">
        <span>Details</span>
      </label>
    </div> -->

    <div class="content">
      <span id="scope">
        {{ content }}
      </span>
    </div>
  </div>
</section>

{% include footer.html %}


<!-- <script src="../_javascript/workbook.js"></script> -->
