---
layout: bare
theme: workbook
---

<section class="hero center">
  <div class="container">
<!--     <span class="octicon octicon-book"></span> -->
    <h1>{{ page.title }}</h1>
    {% include license.html %}
  </div>
</section>

<section>
  <div class="container">

    <div class="tab-panel">

      <input type="radio" class="material-type" name="material-scope" id="outline" value="outline">
      <label class="tab column-3up" for="outline">
        <span>Outline</span>
      </label>

      <input type="radio" class="material-type" name="material-scope" id="summary" value="summary" checked="checked">
      <label class="tab column-3up" for="summary">
        <span>Summary</span>
      </label>

      <input type="radio" class="material-type" name="material-scope" id="details" value="details">
      <label class="tab column-3up" for="details">
        <span>Details</span>
      </label>
    </div>

<!--     <nav class="toc">
      TOC
    </nav> -->

    <span id="scope">
      {{ content }}
    </span>
  </div>
</section>

{% include footer.html %}


<script src="../_javascript/workbook.js"></script>
