---
layout: default
subpage: cheatsheets
redirect_from:
  - /kit/downloads/git-github-cheat-sheet.pdf/
  - /kit/downloads/subversion-migration.pdf/
---
<div class="minitron" style="margin-top: 32px">

  <div class="container">
    <h1 class="display-alpha m-y-0">Git Cheat Sheets</h1>
    <p class="display-beta text-muted m-t-sm">Reference sheets covering Git commands, features, SVN migrations, and bash. Available in a multiple languages.
    </p>
  </div>
</div>

<div class="container">

  <section class="page-section">
    <div class="container resources">
      <div class="row">
        <div class="cheat-sheet">
          {% include icon-sm-git.svg %}
          <h3 class="display-heading-3">Using Git</h3>
          <ul>
            <li><a href="{{ site.baseurl }}/downloads/ar/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Arabic</a></li>
            <li><a href="{{ site.baseurl }}/downloads/bn_BD/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Bengali</a></li>
            <li><a href="{{ site.baseurl }}/downloads/zh_CN/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Chinese</a></li>
            <li><a href="{{ site.baseurl }}/downloads/fr/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> French</a></li>
            <li><a href="{{ site.baseurl }}/downloads/fr/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> French (PDF)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> English</a></li>
            <li><a href="{{ site.baseurl }}/downloads/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> English (PDF)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/de/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> German</a></li>
            <li><a href="{{ site.baseurl }}/downloads/it/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Italian</a></li>
            <li><a href="{{ site.baseurl }}/downloads/ja/github-git-cheat-sheet"><span class="octicon octicon-cloud-download"></span> Japanese</a></li>
            <li><a href="{{ site.baseurl }}/downloads/ja/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> Japanese (PDF)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/kr/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Korean</a></li>
            <li><a href="{{ site.baseurl }}/downloads/pt_BR/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Portuguese (Brazil)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/pt_BR/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> Portuguese (Brazil) (PDF)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/pt_PT/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Portuguese (Portugal)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/pt_PT/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> Portuguese (Portugal) (PDF)</a></li>
            <li><a href="{{ site.baseurl }}/downloads/sk/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Slovak</a></li>
            <li><a href="{{ site.baseurl }}/downloads/es_ES/github-git-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> Spanish</a></li>
            <li><a href="{{ site.baseurl }}/downloads/es_ES/github-git-cheat-sheet.pdf"><span class="octicon octicon-cloud-download"></span> Spanish (PDF)</a></li>
          </ul>
        </div>
        <div class="cheat-sheet">
          {% include icon-sm-migration.svg %}
          <h3 class="display-heading-3">SVN migration</h3>
          <ul>
            <li><a href="{{ site.baseurl }}/downloads/subversion-migration/"><span class="octicon octicon-cloud-download"></span> English</a></li>
          </ul>
          <h3 class="display-heading-3">Submodules vs. Subtrees</h3>
          <ul>
            <li><a href="{{ site.baseurl }}/downloads/submodule-vs-subtree-cheat-sheet/"><span class="octicon octicon-cloud-download"></span> English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
